################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test-repositorio/FileContentIndex/765b201b-068a-403f-a873-5882a16e408e.vsidx
